/.env.example
/.gitattributes
/.sublime-gulp.cache
/app/*
!/app/*php
!/app/Http
/app/Http/*
!/app/Http/Controllers
/app/Http/Controllers/*
!/app/Http/Controllers/*php
/app/Http/Controllers/Controller.php
!/app/Http/Controllers/Legacy
/artisan
/bootstrap
/config
/database/*
!/database/migrations
/node_modules
/phpunit.xml
/public/*
!/public/images
!/public/legacy
!/public/legacy/admin/*
/public/legacy/admin/vendor
/refs
/resources/lang/en
/resources/views/vendor
/server.php
/storage
/tests
/vendor
