// TIENDA STYLE SHEET

.boton-articulo, .boton-pagar {
	padding: 8px;
	margin: 4px;
}


.screen {
    font-size: 22px;
}

.ticket {
    font-size: 12px;
}

.ticket_number {
  text-align: right;
}

#screen_table, #items_table {
  width: 90%;
  margin: 0 auto;
  tfoot {
    font-weight: bold;
    height: 50px;
    background-color: gold;
  }
}

#screen_table {
  margin-bottom: 50px;
}

#tax_table {
  width: 80%;
  margin: 0 auto;
  td, th {
    text-align: right;
  }
}


